/*
* Signin form styling
*/
.signin-area {
  margin: 0 auto;
  max-width: 400px;
  padding: 2rem 0;
}

.signin-form {
  padding: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.heading-text {
  margin-bottom: 1rem;
}

.heading-text h2 {
  margin: 0;
}

.heading-text>p {
  font-size: 0.8rem;
}
