$white: #ffffff;
$black: #000000;
$global-font-color: #3c495a;
$accent-color: #00c070;
$red: #ff0000;
$light-grayish-blue: #eaecef;
$very-dark-grayish-blue: #495057;
$footer-bg: #28282e;
$loader-overlay: rgba(255, 255, 255, 0.6);
$sort-bg-color: #616161;
$votes-bg-color: #848d95;
